


.col-sensor {
    flex-grow: 3;
    min-width: 170px;
}

.col-steps {
    min-width: 70px;
}

hr {
    border-top: 2px solid #818181;
}

.bordered {
    border: 7px solid #818181;
    border-radius: 12px;

    background-color: #22272e;
}

.temp-chart {
    margin-top: -7px;
}

.form-bordered {
    /* border: 2px solid #797979; */
    padding: 6px 9px 0px 9px;
}

.form-group {
    margin-bottom: 0.6em;
}

.btn-preset {
    color: #ffffff;
    border-color: #f8f9fa;
}