


.col-sensor {
    flex-grow: 3;
    min-width: 170px;
}

.col-steps {
    min-width: 70px;
}

hr {
    border-top: 2px solid #818181;
}

.bordered {
    border: 6px solid #adbac759;
    border-radius: 12px;

    background-color: #22272e;
    box-shadow: 3px 2px 9px 5px #00000045;
}

.temp-chart {
    margin-top: 22px;
}

.form-bordered {
    /* border: 2px solid #797979; */
    padding: 6px 9px 0px 9px;
}

.form-group {
    margin-bottom: 0.6em;
}

.btn-preset {
    color: #ffffff;
    border-color: #f8f9fa;
}


/* invert calendar icon of the datetime-picker (sadly webkit only right now) */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}