

/* basic table */
table {
    font-family: 'Roboto-Regular', sans-serif;
}

thead {
    font-family: 'Lato-Bold', sans-serif;
    text-align: left;
    background-color: #22272e;
    color: #e2e9ef;
}

table.dataTable tbody tr {
    background-color: #22272e;
    color: #adbac7;

    line-height: 21px;
}

td.td-done,
td.td-votes {
    text-align: center;
}



/* data tables */
#DataTables_Table_0_wrapper {
    background-color: #818181; /* #3d8aaf; */
    border-radius: 12px;
    padding: 7px 9px;

    font-family: 'Roboto-Medium', sans-serif;
}

.dataTables_length label,
.dataTables_filter label {
    color: #adbac7;
}